# Environment files
*.env

# Python virtual environment and cache files
**/venv/
**/__pycache__/
__pycache__/

# IDE and system files
**/.idea/
**/.DS_Store

# Ignore all contents of the spider folder, but keep the folder itself
spider/*
!spider/.gitkeep
